# Emacs backup file
*~

# Thumbnail database of Mac OS X
.DS_Store

# Compiled Object files
*.o

# Executables
*.exe
*.out
build/
buildtest/

# private files
report/
plots/
diretivas_trabalho_analise_empirica.pdf